*{
  font-family: rubik;
}
a{
  text-decoration: none;
}
$colors:(
        "bg-color":#F7FBFC,

        "icon-color": #769FCD,

        "primary-color": #D6E6F2,

        "secondary-color":#B9D7EA,
);

.bg-secondary-color{
  background-color: map-get($colors,"secondary-color");
}
.bg-icon-color{
  background-color: map-get($colors,"icon-color");
}
.icon-color{
  color: map-get($colors,"icon-color");
}

.bg-color{
  background-color: map-get($colors,"bg-color");
}
.bg-primary-color{
  background-color: map-get($colors,"primary-color");
}

.header{
  nav{
    background-color: rgba(255, 255, 255, 0);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }
}

.navbar-nav{
  .nav-item{
    .nav-link:hover{
      color: map-get($colors,"icon-color");
    }
  }
}

.navbar-nav{
  .btn{
    background-color: map-get($colors,"icon-color");
  }
  .btn:hover{
    background-color:map-get($colors,"secondary-color") ;
  }
}
.circle {
  position: absolute;
  top: 0;
  background-color: map-get($colors, "icon-color");
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

#portfolio{
#filter{
  .btn{
    transition: 500ms;
  }
  .btn:hover{
    color: map-get($colors,"icon-color");
  }
  .btn.active{
    background-color: map-get($colors,"icon-color");
    color: white;
  }
}
  .box{
    .img-box{
      .position-absolute{
        right: 0;
        opacity: 0;
        transition: 500ms;
        cursor: pointer;
      }
      .position-absolute:hover{
        opacity: 1;
      }
      .position-absolute{
        .container{
          a:hover{
            color: darkred;
          }
        }
      }
    }
  }
}

#reviews{
  background-image: url("../pics/luxa.org-opacity-changed-functionality-vs-aesthetics-web-design.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.star{
  color:#fdcc08;
}
